$white-bg: rgb(246, 250, 253);

$light-purple: rgb(156, 105, 226);
$hover-purple: rgb(144, 89, 219);
$dark-gray-blue: rgb(75, 93, 105);
$dark-navy-blue: rgb(33, 35, 83);
$light-pink: rgb(241, 99, 185);
$hover-pink: rgb(240, 99, 184);

$aqua-green: rgb(104, 200, 186);
$soft-light-gray: rgb(75, 93, 104);
$black-label: rgba(0, 0, 0, 1);
$sidebar-bg: rgba(217, 217, 217, 1);
$table-cell-bg: rgba(217, 217, 217, 1);