@use '../styles/reset' as *;
@use '../styles/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

li.slick-active div {
  transform: scale(1.2);
  opacity: 1;
  background-color: vars.$hover-pink;

  transition: all 0.2s ease;
}