@use '../../../styles/variables' as vars;

.main-layout {
  padding: 48px 0;
  background-color: vars.$white-bg;
  min-height: 100vh;
}

.main-layout__content {
  max-width: 1120px;
  margin: 0 auto;
}
