@use '../../styles/variables' as vars;

.slider-section {
  background: vars.$light-purple;
  padding: 80px 0 100px;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 4rem;
  padding-bottom: 80px;
  font-weight: 600;
  text-align: center;
}

.slider-wrapper {
  width: 100%;
  max-width: 960px;
  padding: 0 24px;
}

.slide {
  padding: 0 12px;
}

.nav-button {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 50px;
  height: 50px;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s;
}

.nav-button:hover {
  transform: translateY(-50%) scale(1.05);
}

.prev {
  left: -60px;
}

.next {
  right: -60px;
}

.icon {
  font-size: 56px;
}

.custom-dots {
  display: flex !important;
  justify-content: center;
  position: relative;
  top: 20px;
}

.custom-dots li {
  margin: 0 !important;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
